@charset "UTF-8";



@media screen and (min-width: 785px){
    span#burguer{
        display: none;
    }
    menu{
        display: block;

    }

    menu > ul > li{
        display: inline-block;
    }
}

span#burguer{
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 10px;
}