@charset "UTF-8";

@media screen and (max-width: 785px){
    div#container{
        background-color: aquamarine;
        height: 400px;
        width: 400px;
        margin: auto;
        margin-top: 100px;
        position: relative;
    }
    
    header{
        display: inline-block;
        background-color: blue;
        width: 200px;
        height: 80px;
        text-align: center;
        color: white;
        border: 3px solid purple;
        border-radius: 15px;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 25%;
    }
    
}