@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde-escuro: #344e41;
    --verde-mediano: #3a5a40;
    --verde-claro: #588157;
    --verde-suave: #a3b18a;
}

body, html{
    background-color: var(--verde-escuro);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--verde-claro);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);

    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: var(--verde-escuro) url(../imagens/fundo-folhas.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 45px;
    background-color: var(--verde-mediano);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: var(--verde-escuro);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 45px;
    background-color: white;
    border: 1px solid var(--verde-mediano);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    margin-top: 5px;
}


form > a.botao > span{
    font-size: 0.8em;
}

form > a.botao:hover{
    background-color: var(--verde-escuro);
}

form > div.campo{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    background-color: var(--verde-mediano);
    border: 2px solid var(--verde-mediano);
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: var(--verde-escuro);
    font-size: 1em;
    height: 100%;
    border: none;
    border-radius: 5px;
    width: calc(100% - 44px);
    transform: translateY(-14px);
}

div.campo > input:focus-within{
    background-color: white;
}